<div class="main-content">
	<h1>Welcome To The Dashboard of External Apps</h1>
	<h1><%= name %></h1>
	<ul>
		<li>
			<a href="<%= externalApp1 %>/login?user=<%= name %>">External App 1</a>
		</li>
	</ul>
</div>
